rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Ứng dụng đã dừng hoạt động — Khoá toàn bộ quyền truy cập dữ liệu
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
